# Render / local
PORT=10000

# Website API
API_BASE_URL=https://b-d.rf.gd/bot_api.php
BOT_API_KEY=horynet_secure_2026

# Telegram
TELEGRAM_BOT_TOKEN=PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE

# WhatsApp
BOT_NAME=بنك تهامة للتبرع بالدم
ADMIN_NUMBER=967734921712
